{% extends 'base.html' %}
{% block content %}
<!--Main Content-->
{% for post in object_list %}
<div class="container-fluid">
    <div class="row d-flex justify-content-around">
        <div class="card  p-3 mt-3" style="width: 20rem;">
            <h5>Author: {{post.author}}</h5>
            <p><em>{{ post.published_date }}</em></p>
            <img src="https://res.cloudinary.com/dni2ihlvf/image/upload/v1742319615/ohbwtydahgdn1ak5ivpo.jpg"
                class="card-img-top rounded" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.intro}}</p>
                <a href="{% url 'post_blog' post.slug %}" class="btn btn-success">Click here for more !!!</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
