{% extends 'base.html' %}
{% block content %}
<section class="home-container">
    <h1>Food and Drink blog</h1>
    <p>Welcome to the food and drink blog, here you can post blogs about recipes <br> and drinks as well as commenting
        and replying to others blog posts.</p>
    <p> If you would like to Sign up to this blog so that you can create<br> blogs and add comments to other users blog
        posts sign up below</p>
    <div class="about-us-button">
        <a href="#">Sign Up Here</a>
    </div>
</section>
{% endblock %}