{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Users Public profile that is accessible to other Users-->

{% if profile.bio and profile.status == 1 %}
<div class="profile-container container-fluid">
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">

            <!-- Profile image-->

            {% if "nobody" in profile.image.url %}
            <img src="{% static 'images/nobody.jpg' %}" alt="default image"
                class="profile-img shadow-lg rounded-3 img-thumbnail">
            {% else %}
            <img src="{{ profile.image.url}}" alt="profile image"
                class="profile-img shadow-lg rounded-3 img-thumbnail">
            {% endif %}
            <h1>{{ profile.user }}</h1>
        </div>

        <!-- Profile Bio-->

        <div class="profile-txt">
            {{ profile.bio| safe }}
        </div>

        <!--Indication of when the Profile was created and last updated-->
        <div class="d-flex justify-content-center gap-5 my-3 p-3">
            <div>
                <p><strong><em>Created at</em></strong></p>
                <em>{{ profile.created_on }}</em>
            </div>
            <div>
                <p><strong><em>Last Updated at</em></strong></p>
                <em>{{ profile.updated_on }}</em>
            </div>
        </div>
    </div>
</div>

<!--No profile found message if user has not profile or is pending review-->

{% else %}
<main class="main-content">
    <div class="d-flex flex-column">
        <h1><strong>Profile not Found</strong></h1>
    </div>
</main>
{% endif %}
{% endblock %}